#banner-slider
  #banner-slick
    margin-bottom: 0

  .item
    position: relative
    outline: none
  
  .caption
    position: absolute
    bottom: 50px
    left: 50px
    background-color: rgba($white, .85)
    max-width: 400px
    padding: 30px
    @extend %flex-centered
    color: $grey
    text-transform: uppercase
    font-size: 2.25rem
    font-weight: 300
    border-left: 10px solid $aqua
    transition: all .3s ease-out
    opacity: 0

  img
    width: 100%

  .slick-active
    .caption
      opacity: 1

  .slick-dots
    width: auto
    bottom: 50px
    right: 50px

#advantages
  background-color: $aqua
  margin-top: -6px
  padding: 15px 30px
  display: flex
  align-items: center
  justify-content: space-between

  .advantage
    display: flex
    align-items: center
    margin: 15px 30px

  .svg-icon
    width: 50px
    height: 50px
    margin-right: 30px
    @extend %flex-centered

    svg
      fill: $white

  .txt
    color: $white
    max-width: 160px

    p
      font-weight: 700
      font-size: 2rem
      margin-bottom: 5px
      line-height: 1.5rem

      span
        font-size: 1.25rem

    div
      font-weight: 300
      display: block
      line-height: 1

#welocome-txt
  color: $grey
  font-size: 1.125rem
  font-weight: 300
  text-align: center

#last-works
  text-align: center

  a
    outline: none

  .slick-dots
    bottom: -40px

  .link-btn
    display: inline-block
    border: 1px solid $aqua
    border-radius: 30px
    padding: 5px 15px
    margin-top: 40px
    text-decoration: none
    text-transform: uppercase
    color: $grey
    @extend %flex-centered
    overflow: hidden
    position: relative
    transition: all .3s ease-out

    &:after
      content: ''
      display: block
      position: absolute
      bottom: -100%
      left: 0
      width: 100%
      height: 100%
      border-radius: 30px
      background-color: $aqua
      transition: all .3s ease-out

    span
      position: relative
      z-index: 1

    &:hover
      color: $white

      &:after
        bottom: 0

#order-subscribe
  background-color: $lightGrey

  .d-title
    text-align: center

  .subscribe-input-field
    position: relative
    padding-top: 16px

    .field-label
      position: absolute
      top: 16px
      z-index: 0
      font-size: 1.5rem
      font-weight: 300
      transition: all .3s ease
      color: $grey

    input
      background-color: transparent
      border: none
      border-bottom: 1px solid $aqua
      border-radius: 0
      width: 100%
      font-size: 1.5rem
      font-weight: 300
      position: relative
      z-index: 1
      outline: none
      color: $grey

    input:focus + label, .field-label.on
      top: 0
      font-size: .875rem
      font-weight: light
      color: $aqua

#brands-list
  text-align: center

  .brand-logo-list
    @extend %flex-centered
    flex-wrap: wrap

    .brand-logo
      margin: 40px 40px 0

      img
        max-height: 100px
        max-width: 200px
        height: auto
        width: auto

@media screen and (max-width: 991px)
  #banner-slider
    .caption
      bottom: 30px
      left: 30px
      padding: 15px
      font-size: 1.25rem
      max-width: 260px

    .slick-dots
      width: auto
      bottom: 30px
      right: 30px

  #advantages
    flex-wrap: wrap
    padding: 15px

    .advantage
      margin: 15px

    .svg-icon
      width: 45px
      height: 45px
      margin-right: 20px

    .txt
      max-width: 240px

      p
        font-size: 2rem
        margin-bottom: 5px
        line-height: 1.5rem

        span
          font-size: 1.25rem

  #order-subscribe
    background-color: $lightGrey

    .d-title
      text-align: center

    .subscribe-input-field
      .field-label
        font-size: 1rem

      input
        font-size: 1rem

      input:focus + label, .field-label.on
        font-size: .875rem

  #brands-list
    .brand-logo-list
      .brand-logo
        margin: 30px 30px 0

        img
          max-height: 60px
          max-width: 160px

@media screen and (max-width: 575px)
  #banner-slider
    .caption
      bottom: 10px
      left: 10px
      padding: 5px 10px
      font-size: 1rem
      max-width: 200px
      border-left-width: 5px

  #advantages
    align-items: flex-start
    justify-content: space-between

    .advantage
      margin: 10px 0
      width: calc(50% - 10px)
      flex-direction: column
      border: 1px solid rgba($white, .15)
      padding: 15px
      height: 150px

    .svg-icon
      width: 35px
      height: 35px
      margin-right: 0
      margin-bottom: 15px

    .txt
      max-width: 100%
      text-align: center

      p
        font-size: 1.25rem
        line-height: 1

        span
          font-size: .875rem

  #last-works
    img
      height: 140px
      width: auto

    .slick-dots
      bottom: -30px

    .link-btn
      padding: 5px 15px
      margin-top: 30px
      font-size: .875rem

  #order-subscribe
    .subscribe-input-field
      padding-top: 20px

      .field-label
        top: 20px

      input:focus + label, .field-label.on
        top: 4px

  #brands-list
    .d-title
      margin-bottom: 0

    .brand-logo-list
      .brand-logo
        margin: 30px 15px 0

        img
          max-height: 40px
          max-width: 100px