.vertical-padding
  padding-top: 80px
  padding-bottom: 80px

  &.top-false
    padding-top: 0

.horizontal-padding
  padding-left: 30px
  padding-right: 30px

.d-title
  text-transform: uppercase
  font-size: 1.875rem
  font-weight: 400
  margin-bottom: 40px

  &.color-grey
    color: $grey

  &.color-aqua
    color: $aqua

body
  font-family: SourceSansPro, Arial, Helvetica, sans-serif

.slick-dots
  li
    width: auto
    height: auto
    margin: 3px

    &.slick-active
      button
        width: 25px
        background-color: $aqua
        transition: all .3s ease-out

    button
      width: 10px
      height: 10px
      background-color: $grey
      border-radius: 10px
      border: 2px solid $white
      transition: all .6s ease-out
      box-shadow: 0 1px 0 1px rgba($aqua, .15)

      &:before
        display: none

@media screen and (max-width: 991px)
  .vertical-padding
    padding-top: 50px
    padding-bottom: 50px

  .d-title
    font-size: 1.5rem
    margin-bottom: 25px

  .slick-dots
    li
      margin: 3px

      &.slick-active
        button
          width: 22px

      button
        width: 6px
        height: 6px
        border-radius: 10px

@media screen and (max-width: 575px)
  .vertical-padding
    padding-top: 40px
    padding-bottom: 40px

  .horizontal-padding
    padding-left: 15px
    padding-right: 15px

  .d-title
    font-size: 1.125rem
    margin-bottom: 15px