footer
  .footer-top
    padding-top: 15px
    padding-bottom: 15px
    background-color: $lightGrey

    .footer-nav
      margin: 15px 0

      .nav-section
        margin: 15px 0

      .nav-section-title
        margin-bottom: 10px

        a
          color: $aqua
          font-size: 1.125rem
          font-weight: 400
          text-transform: uppercase
          text-decoration: none

      ul
        list-style: none
        padding: 0
        margin: 0

        li
          margin: 5px 0

        a
          text-decoration: none
          color: $grey
          font-weight: 300
          display: block
          border-bottom: 1px solid $lightGrey - #0c0c0c
          transition: all .3s ease-out

          &:hover
            color: $aqua

  .footer-bottom
    background-color: $grey
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 10px
    padding-bottom: 10px

    .copyright-txt
      color: $white
      font-weight: 300
      line-height: 1

    .footer-page-nav
      ul
        margin: 0
        padding: 0
        display: flex
        list-style: none

        li
          margin: 3px 15px

          &:first-child
            margin-left: 0
          
          &:last-child
            margin-right: 0

      a
        text-decoration: none
        color: $white
        font-weight: 300
        line-height: 1
        transition: all .3s ease-out

        &:hover
          opacity: .7

@media screen and (max-width: 575px)
  footer
    .footer-top
      .footer-nav
        margin: 0

        .nav-section-title
          margin-bottom: 0

          a
            font-size: 1rem

    .footer-bottom
      flex-direction: column-reverse
      padding-top: 5px

      .copyright-txt
        border-top: 1px solid rgba($white, .15)
        padding-top: 6px
        width: 100%
        text-align: center

      .footer-page-nav
        ul
          li
            margin: 0 15px 3px

            &:first-child
              margin-left: 0
            
            &:last-child
              margin-right: 0