#header-inner
  display: flex

#logo
  background-color: $grey
  padding: 15px 30px
  display: flex
  align-items: center

  a
    display: inline-block
    height: 46px

  img
    height: 100%
    width: auto

#header-content
  flex: 1
  padding: 15px 30px
  display: flex
  align-items: center
  justify-content: space-between
  background-color: $white
  position: relative

  .slogan
    display: flex
    flex-direction: column
    text-transform: uppercase
    line-height: 1
    font-size: 1.125rem
    font-weight: 300
    color: $grey

  #header-content-right
    display: flex
    align-items: center

  #page-nav
    ul
      list-style: none
      display: flex
      align-items: center
      font-size: 1rem
      font-weight: 300
      margin: 0
      padding: 0

    li
      margin: 0 10px

      &:first-child
        margin-left: 0
      
      &:last-child
        margin-right: 0

    a
      color: $grey
      text-decoration: none
      transition: all .3s ease-out

      &:hover
        color: $aqua

  #social-links
    display: flex
    margin: 0 20px

    a
      width: 28px
      height: 28px
      background-color: $lightGrey
      line-height: 1
      padding: 6px
      border-radius: 100%
      @extend %flex-centered
      margin: 5px
      overflow: hidden
      transition: all .3s ease-out
      position: relative

      &:before
        content: ''
        display: block
        position: absolute
        top: -100%
        right: -100%
        width: 100%
        height: 100%
        background-color: $aqua
        border-radius: 100%
        transition: all .3s ease-out

      &:hover
        &:before
          top: 0
          right: 0

        svg
          fill: $white

      svg
        max-width: 100%
        width: 100%
        fill: $aqua
        position: relative
        transition: all .3s ease-out

  #phone
    a
      text-decoration: none
      color: $grey
      font-size: 1.875rem
      line-height: 1

  #catalog-nav
    position: absolute
    left: 0
    bottom: -42px
    z-index: 5
    width: 100%
    background-color: rgba($aqua, .9)
    padding-right: 30px
    transition: all .3s ease-out

    &.fixed
      position: fixed
      bottom: auto
      top: 0
      background-color: rgba($aqua, .95)
      box-shadow: 3px 0 3px 0 rgba($black, .15)
      padding-right: 0

    .catalog-nav-content
      display: flex
      position: relative
      z-index: 5

    .home-link
      a
        line-height: 1
        padding: 12px
        transition: all .3s ease-out
        position: relative
        z-index: 1
        display: flex

        &:after
          content: ''
          display: block
          position: absolute
          right: 0
          top: 50%
          transform: translateY(-50%)
          height: 50%
          width: 1px
          background-color: rgba($white, .5)
          opacity: 1
          transition: all .3s ease-out

        &:hover
          background-color: $white

          &:after
            height: 100%
            opacity: 0
            
          svg
            fill: $aqua

        svg
          width: 18px !important
          height: 18px !important
          fill: $white
          transition: all .3s ease-out

    .catalog-list
      display: flex
      align-items: center

      .mobile-nav-close
        display: none
        justify-content: flex-end
        margin-bottom: 15px
        
        .close-tgl
          @extend %flex-centered
          color: $aqua
          font-size: 1.125rem
          line-height: 1
          background-color: $white
          width: 30px
          height: 30px
          border-radius: 15px
          cursor: pointer

      ul.nav-wrap
        margin: 0
        padding: 0
        list-style: none
        display: flex
        align-items: center
        margin-left: 10px

        li
          &:hover
            .category-group
              background-color: rgba(#000, .25)

              &:after
                height: 2px

            .categories-list
              top: 100%
              opacity: 1
              visibility: visible
              // padding: 15px 30px

        a.category-group
          text-decoration: none
          text-transform: uppercase
          color: $white
          font-weight: 300
          transition: all .3s ease-out
          padding: 11px 10px
          position: relative
          z-index: 1

          &:after
            content: ''
            display: block
            position: absolute
            left: 0
            bottom: 0
            width: 100%
            height: 0
            background-color: $white
            transition: all .3s ease-out

        .categories-list
          position: absolute
          background-color: rgba($white, .9)
          top: -50%
          left: 0
          width: 100%
          opacity: 0
          visibility: hidden
          transition: all .5s ease-out

        .list-wrap
          display: flex
          padding: 15px 30px

        .category-style-section
          display: flex
          flex-wrap: wrap
          margin-right: 60px

          &:last-child
            margin-right: 0

          p
            width: 100%
            border-bottom: 1px solid $aqua
            margin-bottom: 0
            color: $aqua
            font-weight: 300
            padding-bottom: 5px

          ul
            margin-right: 60px
            padding: 0
            list-style: none

            &:last-child
              margin-right: 0

          li
            margin: 10px 0

          a
            text-decoration: none
            color: $grey
            font-weight: 300
            transition: all .5s ease-out
            line-height: 1
            
            &:hover
              color: $aqua

      .mobile-page-nav
        background-color: rgba($black, .15)
        padding: 15px
        margin-top: 30px
        display: none

        ul
          list-style: none
          margin: 0
          padding: 0

        a
          text-decoration: none
          color: $white
          font-weight: 300
          display: block
          border-bottom: 1px solid rgba($white, .15)
          padding: 5px 0
          display: flex
          justify-content: space-between
          align-items: center

          &:after
            content: ''
            display: block
            width: 8px
            height: 8px
            background-color: transparent
            border-right: 1px solid #fff
            border-bottom: 1px solid #fff
            transform: rotate(-45deg) translateX(-2px)

    .fillSpace
      flex: 1
      position: relative
      z-index: 1

    .mobile-menu-tgl
      color: $white
      @extend %flex-centered
      padding: 0 15px
      font-size: 2.5rem
      line-height: 1
      cursor: pointer
      display: none

    .design-interior
      position: relative
      background-color: rgba($black, .25)
      padding: 9px 20px
      color: $white
      text-decoration: none
      text-transform: uppercase
      font-weight: 300
      overflow: hidden
      position: relative
      z-index: 1

      &:after
        content: ''
        display: block
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 2px
        background-color: $white
        transition: all .3s ease-out

      span
        transition: all .3s ease-out
        position: relative
        z-index: 1

      &:hover
        span
          color: $aqua

        &:after
          height: 100%
        
@media screen and (max-width: 1199px)
  #header-content
    #header-content-right
      #page-nav
        display: none

    #catalog-nav
      .catalog-list
        position: fixed
        top: 0
        right: -100%
        opacity: 0
        visibility: hidden
        z-index: 5
        background-color: $aqua
        padding: 15px
        max-width: 320px
        width: 100%
        height: 100vh
        overflow-y: auto
        display: block
        transition: all .5s ease-out

        &.on
          right: 0
          visibility: visible
          opacity: 1
          transition: all .3s ease-out

        .mobile-nav-close
          display: flex

        ul.nav-wrap
          display: block
          margin: 0

          li
            &:hover
              .category-group
                background-color: transparent

                &:after
                  height: 8px

          a.category-group
            padding: 10px 0
            display: flex
            justify-content: space-between
            align-items: center
            border-block-end: 1px solid rgba($white, .15)

            &:after
              position: static
              width: 8px
              height: 8px
              background-color: transparent
              border-left: 1px solid $white
              border-bottom: 1px solid $white
              transform: rotate(-45deg) translate(0, -3px)

          .categories-list
            position: static
            opacity: 1
            visibility: visible
            margin-bottom: 10px
            display: none

            .list-wrap
              padding: 15px
              display: flex
              justify-content: space-between
              transition: all .3s ease-out

            .category-style-section
              margin: 0
              display: block
              width: 45%

              p
                margin-bottom: 10px
                margin-top: 0

            ul
              margin-right: 0

              li
                margin: 0
                margin-bottom: 15px

            a
              display: flex
              align-items: center

              &:before
                content: ''
                display: block
                width: 8px
                height: 1px
                background-color: $aqua
                margin-right: 10px

        .mobile-page-nav
          display: block

      .mobile-menu-tgl
        display: flex
  
@media screen and (max-width: 991px)
  #logo
    padding: 15px
    
    a
      display: inline-block
      height: 34px

  #header-content
    padding: 15px

    .slogan
      font-size: .875rem

    .social-links
      margin: 0 15px

    #phone 
      a
        font-size: 1.5rem

    #catalog-nav
      padding-right: 15px

@media screen and (max-width: 575px)
  #header-inner
    position: relative
    margin-bottom: 35px

  #logo
    padding: 10px 15px

  #header-content
    display: block
    position: static
    padding: 5px 15px

    .slogan
      display: none

    #header-content-right
      flex-wrap: wrap
      flex-direction: row-reverse

      #social-links
        margin: 0

        a
          width: 22px
          height: 22px
          padding: 5px

          &:last-child
            margin-right: 0

      #phone
        width: 100%
        text-align: right

        a
          font-size: 1.25rem

    #catalog-nav
      padding-right: 0
      bottom: -35px

      .home-link 
        a
          padding: 8px 10px

      .catalog-list 
        ul.nav-wrap 
          .categories-list 
            .category-style-section
              width: 47%

      .fillSpace
        display: none

      .mobile-menu-tgl
        font-size: 2.125rem
        padding: 0 12px

      .design-interior
        padding: 5px 15px
        font-size: .875rem
        display: flex
        align-items: center
        margin-left: auto